html {
  box-sizing: border-box; /* 1 */
  font-family: "Titillium Web", sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* --main-bg-color: #9158c4; */
  --color-text: #ffffff;
  --color-text-second: #3c4761;
  /* background-color: var(--main-bg-color); */
}
li {
  color: var(--color-text);
  display: inline;
  padding: 10px;
}
ul {
  font-size: 14px;
  margin-left: 500px;
  display: inline-block;
}
.logo {
  margin-top: 50px;
}

.text {
  padding-top: 80px;
  margin: 40px 20%;
  color: #f7f3ea;
  font-size: 30px;
}
.click {
  border: 3px solid #ed8a42;
  border-bottom: 3px solid #bf6422;
  width: 200px;
  height: 50px;
  color: white;
  background-color: #ed8a42;
}
.page1 {
  background-color: #9158c4;
  border: 1px solid #9158c4;
  width: 1270px;
  height: 530px;
  box-sizing: border-box;
}
.page2 {
  color: var(--color-text);
  font-style: normal;
  background-color: #58c4a9;
  border: 1px solid #58c4a9;
  width: 1270px;
  height: 700px;
  box-sizing: border-box;
}
.page3 {
  color: var(--color-text-second);
  background-color: #ddeaeb;
  border: 1px solid #ddeaeb;
  width: 1270px;
  height: 760px;
  box-sizing: border-box;
}
.text-blue {
  color: #30bae7;
  margin-top: 0px;
  font-size: 12px;
}
.four-icons {
  width: 20%;
  display: inline-block;
}
.three-icons {
  width: 30%;
  display: inline-block;
}
.page4 {
  color: var(--color-text-second);
  background-color: white;
  border: 1px solid white;
  width: 1270px;
  height: 550px;
  box-sizing: border-box;
}
.fix {
  width: 20%;
  display: inline-block;
  margin-top: 75px;
  margin-left: 5px;
  margin-right: 5px;
}
.page5 {
  color: #393939;
  background-color: #ffdd99;
  border: 1px solid #ffdd99;
  width: 1270px;
  height: 750px;
  box-sizing: border-box;
}
.four-options {
  width: 380px;
  height: 20px;
  margin: 30px 35%;
}
.option {
  margin: 0 5px;
  border: 3px solid #f2be79;
  border-radius: 10px;
  background-color: #f2be79;
  width: 75px;
  height: 30px;
}
