html {
  box-sizing: border-box; /* 1 */
  font-family: "Titillium Web", sans-serif; /* 2 */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  /* --main-bg-color: #9158c4; */
  --color-text: #ffffff;
  --color-text-second: #3c4761;
  --color-text-pg-7: #273a71;
  /* background-color: var(--main-bg-color); */
}

/* page1 */
.page1 {
  background-color: #9158c4;
  border: 1px solid #9158c4;
  width: 1270px;
  height: 530px;
  box-sizing: border-box;
}

li {
  color: var(--color-text);
  display: inline;
  padding: 10px;
}

ul {
  font-size: 14px;
  margin-left: 500px;
  display: inline-block;
}

.logo {
  margin-top: 50px;
}

.text {
  padding-top: 80px;
  margin: 40px 20%;
  color: #f7f3ea;
  font-size: 30px;
}

.contact {
  border: 3px solid #ed8a42;
  border-bottom: 5px solid #bf6422;
  color: white;
  background-color: #ed8a42;
}
/* end */

/* page2 */
.page2 {
  color: var(--color-text);
  font-style: normal;
  background-color: #58c4a9;
  border: 1px solid #58c4a9;
  width: 1270px;
  height: 700px;
  box-sizing: border-box;
}

/* end */

/* page3 */
.page3 {
  color: var(--color-text-second);
  background-color: #ddeaeb;
  border: 1px solid #ddeaeb;
  width: 1270px;
  height: 760px;
  box-sizing: border-box;
}
/* end */

/* page4 */
.page4 {
  color: var(--color-text-second);
  background-color: white;
  border: 1px solid white;
  width: 1270px;
  height: 550px;
  box-sizing: border-box;
}
/* end */

/* page5 */
.page5 {
  color: #393939;
  background-color: #ffdd99;
  border: 1px solid #ffdd99;
  width: 1270px;
  height: 1200px;
  box-sizing: border-box;
}

.load-project {
  margin-top: 60px;
  border: 3px solid #17c2a4;
  border-bottom: 5px solid #14a38a;
  color: white;
  background-color: #17c2a4;
}
/* end */

/* page6 */
.page6 {
  color: var(--color-text);
  background-color: #d74680;
  border: 1px solid #d74680;
  width: 1270px;
  height: 850px;
  box-sizing: border-box;
}

.first-two-people-inline {
  padding-top: 50px;
}

.second-two-people-inline {
  padding-top: 100px;
}

.four-people {
  margin-top: 75px;
}
/* end */

/* page7 */
.page7 {
  color: var(--color-text);
  background-color: #3c5499;
  border: 1px solid #3c5499;
  width: 1270px;
  height: 690px;
  box-sizing: border-box;
}

.message {
  padding-bottom: 150px;
  width: 891px;
  margin: 0 auto;
  margin-top: 30px;
}

.two-label {
  margin-top: 60px;
}

.send {
  margin-top: 60px;
  border: 3px solid #30bae7;
  border-bottom: 5px solid #2aa2c9;
  color: white;
  background-color: #30bae7;
}
/* end */

/* page8 */
.page8 {
  color: var(--color-text);
  background-color: #344b8e;
  border: 1px solid #344b8e;
  width: 1270px;
  height: 100px;
  box-sizing: border-box;
}

.links-account {
  width: 1000px;
  margin: 20px auto;
}
/* end */
