.font {
  text-align: center;
  font-size: TitilliumWeb;
}
.click {
  width: 200px;
  height: 50px;
}
.first-heading {
  font-size: 35px;
  margin-bottom: 0px;
}
.line {
  margin: 0px 45%;
  width: 150px;
  height: 4px;
}
.description {
  margin: 0 29%;
  font-size: 15px;
}
.p-service {
  padding-left: 32px;
  padding-right: 32px;
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}
h4 {
  font-size: 25px;
}
