/* .welcome {
  width: 1440px;
  height: 596;
  object-fit: contain;
}
.logo {
  width: 118px;
  height: 37px;
  margin: 57px 1111px 502px 211px;
}
ul#horizontal-list {
  min-width: 416px;
  list-style: none;
  height: 13px;
  object-fit: contain;
  font-family: TitilliumWeb;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  margin: 70px 195px 513px 829px;
}
ul#horizontal-list li {
  display: inline;
}
.click {
  width: 293px;
  height: 70px;
  margin: 381px 573px 145px 574px;
}
.page2 {
  width: ;
  height: ;
}
.page3 {
  width: ;
  height: ;
}
.page4 {
  width: ;
  height: ;
}
.page5 {
  width: ;
  height: ;
}
.page6 {
  width: ;
  height: ;
}
.page7 {
  width: ;
  height: ;
} */
.page2 {
  text-align: center;
  font-family: TitilliumWeb;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
}
.first-heading {
  margin-bottom: 0px;
}
.line {
  width: 150px;
  height: 2px;
}
.description {
  padding: 0 420px 0 420px;
  font-size: 12px;
}
.p-service {
  font-family: TitilliumWeb;

  font-size: 12px;

  font-weight: 300;

  font-style: normal;

  font-stretch: normal;
}
